#u728-6
{
	font-family: volkhov-n4, serif;
}

#u764-6
{
	font-family: volkhov-n4, serif;
}

#u14575-4
{
	font-family: volkhov-n4, serif;
}

#u751-3
{
	font-family: volkhov-n4, serif;
}

#u766-6
{
	font-family: volkhov-n4, serif;
}

#u768-6
{
	font-family: volkhov-n4, serif;
}

#u14488-4
{
	font-family: volkhov-n4, serif;
}

#u753-6
{
	font-family: volkhov-n4, serif;
}

#u754-6
{
	font-family: volkhov-n4, serif;
}

#u761-4
{
	font-family: volkhov-n4, serif;
}

#u756-4
{
	font-family: volkhov-n4, serif;
}

#u605-5,#u606-2,#u606-6,#u606-7,#u606-9,#u606-14,#u606-19,#u13339-4,#u11371-4,#u11369-2,#u11369-7,#u11369-12,#u11369-17,#u11369-22,#u11369-27,#u11369-32,#u11369-37,#u11369-42
{
	font-family: volkhov-n7, serif;
}

#u669-4,#u673-4,#u670-4,#u671-4,#u676-4,#u677-13,#u594-4,#u593-16,#u600-25,#u13097-34,#u13104-19,#u687-16,#u691-4,#u13107-17,#u13106-13,#u13114-57,#u684-49,#u20979-4,#u686-4,#u688-4,#u690-4,#u685-4,#u689-34,#u611-4,#u606-4,#u606-5,#u606-11,#u606-12,#u606-16,#u606-17,#u606-21,#u606-22,#u606-24,#u606-26,#u606-28,#u606-30,#u606-32,#u606-34,#u606-36,#u606-38,#u606-40,#u606-42,#u606-44,#u606-45,#u606-47,#u606-49,#u606-51,#u606-53,#u606-55,#u606-57,#u23930-4,#u13126-4,#u11369-4,#u11369-5,#u11369-9,#u11369-10,#u11369-14,#u11369-15,#u11369-19,#u11369-20,#u11369-24,#u11369-25,#u11369-29,#u11369-30,#u11369-34,#u11369-35,#u11369-39,#u11369-40,#u11369-44,#u11369-45
{
	font-family: volkhov-n4, serif;
}

