#u20573-4
{
	font-family: volkhov-n4, serif;
}

#u20572-4
{
	font-family: volkhov-n4, serif;
}

#u20468-4,#u20465-4
{
	font-family: volkhov-n7, serif;
}

#u20491,#u21614,#u21614-2,#u21614-4,#u21614-5,#u20520-8,#u20525,#u20504-6,#u20512,#u20523-4,#u20545,#u20515-6,#u25015,#u25023-6,#u20561,#u20531,#u20556-6,#u20536,#u20505-6,#u21616,#u21616-2,#u21616-4,#u21616-5
{
	font-family: volkhov-n4, serif;
}

