#u21752-4
{
	font-family: volkhov-n4, serif;
}

#u21753-4
{
	font-family: volkhov-n4, serif;
}

#u21754-4
{
	font-family: volkhov-n4, serif;
}

#u21749-4
{
	font-family: volkhov-n4, serif;
}

#u21746-36
{
	font-family: volkhov-n7, serif;
}

#u21808,#u21808-2,#u21808-5,#u21746-2,#u21746-3,#u21746-5,#u21746-6,#u21746-8,#u21746-9,#u21746-11,#u21746-12,#u21746-14,#u21746-15,#u21746-17,#u21746-18,#u21746-20,#u21746-21,#u21746-23,#u21746-24,#u21746-26,#u21746-27,#u21746-29,#u21746-30,#u21746-31,#u21746-32,#u21746-33,#u21746-34,#u21746-37,#u21746-39,#u21746-40,#u21746-42,#u21638-4,#u21642-4,#u21813,#u21813-2,#u21813-5
{
	font-family: volkhov-n4, serif;
}

