#u15411-4
{
	font-family: volkhov-n4, serif;
}

#u23524-4
{
	font-family: volkhov-n4, serif;
}

#u24536-6
{
	font-family: volkhov-n4, serif;
}

#u13283-6
{
	font-family: volkhov-n4, serif;
}

#u13279-4
{
	font-family: volkhov-n4, serif;
}

#u13291-6
{
	font-family: volkhov-n4, serif;
}

#u13277-4
{
	font-family: volkhov-n4, serif;
}

#u24609-4
{
	font-family: volkhov-n4, serif;
}

#u14197-4,#u13299,#u13301-4,#u15417,#u15423-4
{
	font-family: volkhov-n4, serif;
}

#u12914-4,#u13310-4,#u13304-4,#u15421-4
{
	font-family: volkhov-n7, serif;
}

