#u14119-4
{
	font-family: volkhov-n4, serif;
}

#u14134-4
{
	font-family: volkhov-n4, serif;
}

#u14145-4
{
	font-family: volkhov-n4, serif;
}

#u14482-4
{
	font-family: volkhov-n4, serif;
}

#u7877-24
{
	font-family: volkhov-i4, serif;
}

#u7934-31,#u7877-2,#u7877-4,#u7877-6,#u7877-7,#u7877-9,#u7877-10,#u7877-12,#u7877-13,#u7877-15,#u7877-16,#u7877-18,#u7877-20,#u7877-21,#u7877-22,#u7877-25,#u7877-26,#u14152-4,#u14162-10,#u14156-10,#u14573-4,#u14569-4,#u14558-4
{
	font-family: volkhov-n4, serif;
}

#u7933-4,#u7928-4,#u14149-4,#u14150-4,#u14155-4,#u14557-4,#u14565-4,#u7995-4
{
	font-family: volkhov-n7, serif;
}

