#u21582-4
{
	font-family: volkhov-n4, serif;
}

#u21583-4
{
	font-family: volkhov-n4, serif;
}

#u21517-4,#u22696-4,#u24506-4,#u21546-4,#u24484-4,#u24412-4,#u24417-4,#u21611-4,#u22686-4,#u21527-4,#u21591-4,#u21566-4
{
	font-family: volkhov-n7, serif;
}

#u21523-4,#u21619,#u21619-4,#u21619-7,#u21556,#u24488,#u21587,#u21605,#u22684,#u21548,#u21555,#u21537-6,#u21618,#u21618-4,#u21618-7
{
	font-family: volkhov-n4, serif;
}

